@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
.navbar-menus{
  position: relative;
  display: inline-block;
  margin: 5px;
}
.dropbtn{
  height: 30px;
  width: 100px;
  background-color: #a2d2ff;
  border: none;
  min-width: 190px;
  font-family: 'Cairo', sans-serif;

  border-radius: 5px;

}
#navbar-a{
  text-decoration: none;
}

.dropdown-content {
  padding: 5px;
  text-transform: uppercase;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  font-size: 12px;
}
.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown-menus{
  border: 2px solid transparent;
  font-family: 'Cairo', sans-serif;
  background-color: #333;


}
.netamt{
  margin: auto;
  padding: 0px;
  border: 2px solid black;
  width: 200px;
  height: 90px;
  text-align: center;
  font-family: 'Cairo', sans-serif;
  min-height: 10px;
  position: relative;
  top: 60px;
}
#tax{
  position: relative;
  top: -30px;
}
#stsmsg{
  font-family: 'Cairo', sans-serif;
  text-align: center;
  position: relative;
  top: 50px;


}
.navbar-menus:hover .dropdown-content {
  
  display: block;
}

body{
    margin: 0px;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
  }

  
  h1 {
    float: left;
    border: 2px solid transparent;
    margin-left: 30px;
    font-family: 'Cinzel', serif;
  }
  .nav1{
      text-transform: uppercase;
      /* border: 2px solid white; */
      margin-right: 200px;
      position: relative;
      top: -13px;
      float: right;
  }
  .nav2{

    text-transform: uppercase;
      /* border: 2px solid white; */
      position: relative;
      top: 10px;
      left: 307px;
      margin-right: 200px;
      float: right;
  }
  .navitems{
      position: relative;
      top: 8px;
      left: 80px;
      font-family: 'Cairo', sans-serif;

  }
  .btn-logout{
      background-color: #008CBA;
      height: 35px;
      width: 70px;
      border-radius: 5px;
      position: relative;
      top: -65px;
      right: 20px;
      float: right;
      font-family: 'Cairo', sans-serif;
      border: none;
      color: white;


  }
  .btn-logout:hover {
    background-color: #4CAF50;
    color: white;
  }
  .btn-home{
    background-color: #008CBA;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    right: -50px;
    float: right;
    font-family: 'Cairo', sans-serif;
    border: none;
    color: white;


}
.btn-home:hover {
  background-color: #4CAF50;
  color: white;
}
  a{
      color: white;
      text-decoration: none;
  }
  .text-center{
    font-family: 'Cairo', sans-serif;
    text-align: center;
    font-size: 40px;
  }
  .menu-list{
      background-color: #f2efe9;
      list-style-type: none;
      font-family: 'Cairo', sans-serif;
      font-size: 20px;
      position: relative;
      float: right;
      line-height: 27px;
      top: 100px;
      right: 50px;
      border: 4px solid transparent;
      padding-right: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      height: 620px;
      border-radius: 15px;
      box-sizing:border-box;
  }
  .dashbords{
    margin-top: auto;
  }
  .dashbord{
      position: relative;
      float: left;
      top: 130px;
      left: 150px;
      width: 300px;
      height: 210px;
      background: linear-gradient(#52b6fe,#6154fe);
      border-radius: 20px;
      margin-right: 200px;
  }
  .dashbord::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#52b6fe,#6154fe);
      transform: translate(40px)scale(.9);
      z-index: -1;
      filter: blur(25px);
      opacity: .9;
  }
  .dash-text{
      color: white;
      position: relative;
      top: 30px;
      text-align: center;
      font-family: 'Cairo', sans-serif;
      font-size: 20px;

  }
  .task-list{
      background-color: #f2efe9;
      font-family: 'Cairo', sans-serif;
      font-size: 20px;
      position: relative;
      float: left;
      top: 220px;
      right: 50px;
      left: 130px;
      border: 4px solid transparent;
      padding-right: 30px;
      padding-left: 30px;
      height: 50px;
      border-radius: 15px;
      box-sizing:border-box;
      margin: 15px;

  }
  .task-list:hover{
    background-color:#6154fe;
    color: white;

  }
  #black-text{
      color: black;
  }
  #black-text:hover{
    background-color:#6154fe;
    color: white;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Cairo', sans-serif;

  }
  .cus_det{
    margin: 0px;
    position: relative;
    left: -50px;
    margin-left: 50px ;
    margin-right: 50px;

  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  .searchbar{
    border: 2px solid black;
    font-family: 'Cairo', sans-serif;
    border-radius: 6px;
    height: 30px;
    width: 200px;
    position: relative;
    left: 50px;
    top: 10px;
    

  }
  .img-search{
    width: 30px;
    height: 30px;
    position: relative;
    top: 30px;
    left: 20px;
  }
  .btn-search{
    position: relative;
    left: 50px;
    background-color: #008CBA;
    border-radius: 5px;
    font-family: 'Cairo', sans-serif;
    border: none;
    color: white;
    width: 120px;
    height: 40px;
  }
  .btn-search:hover{
    background-color: #4CAF50;
  color: white;
}
.filter-area{
  border: 2px solid black;
    font-family: 'Cairo', sans-serif;
    border-radius: 6px;
    height: 30px;
    width: 200px;
    position: relative;
    left: 100px;
    top: 10px;
}
.filter-balance{
  font-family: 'Cairo', sans-serif;
  position: relative;
  top: -20px;
  left: 50px;
}
#filter-text{
  font-family: 'Cairo', sans-serif;
  position: relative;
  left: 50px;
}
.table-pricelist{
  font-family: 'Cairo', sans-serif;
  border: 2px solid black;
  width: 500px;
  margin: auto;
  position: relative;
  top: 60px;
  
}
.update-btns{
  position: relative;
  top: 50px;
  left: 900px;
  border: 3px black solid;
  height: 500px;
  width: 300px;
  border-radius: 10px;
}
#update-btn{
  margin: 9px;
  background-color: #008CBA;
    height: 55px;
    width: 280px;
    border-radius: 5px;
    font-family: 'Cairo', sans-serif;
    border: none;
    color: white;
    font-size: 30px;
    border-radius: 5px;

}
#black-text-btn{
  color: black;
}
#update-btn:hover{
background-color:#6154fe;
color: white;
}
.pricelist-update-form{

  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  border: 2px solid transparent;
  height: 250px;
  width: 400px;
  margin: auto;
  position: relative;
  top: 200px;
  padding: 25px;
  background-color: #f5f3f4;
  font-style: oblique;
  text-decoration: solid;

}
.btn-update-pricelist-submit{
  background-color: #008CBA;
    height: 45px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    float: right;
    font-family: 'Cairo', sans-serif;
    color: white;
    border: none;
}
.btn-update-pricelist-submit:hover{
  background-color:#4CAF50 ;
  cursor: pointer;
}
.btn-submit{
  background-color: #008CBA;
    height: 45px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    float: right;
    font-family: 'Cairo', sans-serif;
    color: white;
    border: none;
    top: -150px;
}
.btn-submit:hover{
  background-color:#4CAF50 ;
  cursor: pointer;
}
.text-feild{
  height: 30px;
  width: 200px;
  margin: 5px;
  
}


#comment{
  position: relative;
  top: -30px;
  color: red;
}
#black-text1{
  color: blue;
}
.form-additem{
  border: 2px black solid;
  height: 300px;
  width: 500px;
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  margin: auto;
  position: relative;
  top: 50px;
  padding: 50px;

}
.form-additem1{
  border: 2px black solid;
  height: 250px;
  width: 500px;
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  margin: auto;
  position: relative;
  top: 30px;
  padding: 50px;

}
.form-items{
  position: relative;
  left: -80px;
  top: 60px;
  text-align: right;
  padding: 5px;
}
.form-items1{
  position: relative;
  left: -80px;
  top: 30px;
  text-align: right;
  padding: 5px;
}
.button{
  border: none;
  font-family: 'Cairo', sans-serif;
  cursor: pointer;
  background-color: #6154fe;
  color: white;
  width: auto;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  position: relative;

}
.button:hover{
  background-color: #4CAF50;
  color: black;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button1{
  border: none;
  font-family: 'Cairo', sans-serif;
  cursor: pointer;
  background-color: #6154fe;
  color: white;
  width: auto;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  position: relative;
  left: 50px;
  width: 100px;

}
.button1 a{
  display: inline-block;     
   position: relative;    
   z-index: 1;     
   padding: 2em;     
   margin: -2em;
}
.button1:hover{
  background-color: #4CAF50;
  color: black;
}
.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.prof-card{
  border: 2px solid black;
  margin: 50px 0px 0px 50px;
  height: 400px;
  width: 250px;
  float: left;
  font-family: 'Cairo', sans-serif; 
  


}
.prof-img img{
  height: 120px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.prof-name{
  font-weight:bolder;
  font-size: 30px;
  text-align: center;
}
.prof-main-area{
  font-size: 10px;
  text-align: center;
  position: relative;
  top: -10px;
  font-weight: bold;
}
.prof-salesbill{
  position: relative;
  left: 10px;
}
.prof-btns{
  margin-top:7px ;
  margin-left: 7px;
}
#paymentdet{
  float: right;
  margin-right: 7px;
}
.billdet table{
  font-family: 'Cairo', sans-serif; 
  border: 2px black solid;
  width: 500px;
  height: auto;
  margin: auto;
  position: relative;
  top: 50px;

}
.paydet table{
  font-family: 'Cairo', sans-serif; 
  border: 2px black solid;
  width: 500px;
  height: auto;
  margin: auto;
  position: relative;
  top: -50px;
}
.btn-validate{
  background-color: #008CBA;
  border: none;
  height: 30px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  float: right;
  position: relative;
  top: 5px;
}
.btn-validate:hover{
  color: black;
  background-color:#4CAF50;
}
div[disabled=disabled] {
  pointer-events: none;
  opacity: 0.4;
}
.customer_name{
  margin: auto;
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  border: 2px solid transparent;
  width: 500px;
  font-family: 'Cairo', sans-serif; 


}
.btn-search1{
  background-color: #008CBA;
  height: 35px;
  width: 70px;
  border-radius: 5px;
  position: relative;
  font-family: 'Cairo', sans-serif;
  border: none;
  color: white;
  cursor: pointer;


}
.btn-home:search1 {
background-color: #4CAF50;
color: white;
}
.btn-submit1{
  background-color: #008CBA;
  height: 35px;
  width: 70px;
  border-radius: 5px;
  position: relative;
  font-family: 'Cairo', sans-serif;
  border: none;
  color: white;
  cursor: pointer;
  float: right;
  right: -600px;
  top: -5px;


}
.cus_update_exits hr{
  width: 1500px;
  position: relative;
  top: -20px;
}

.cus_update_exits{
  font-family: 'Cairo', sans-serif;
  list-style-type: none;
  border: 2px black transparent;
  position: relative;
  padding: 5px;
  width: 1200px;
  left: 50px;
  
}

#text-feild{
  height: 30px;
  width: 500px;
  margin: 5px;
  float: right;
  position: relative;
  
  top: -5px;
  
}

.confirm_delte{
  border: 2px solid #dfe7fd;
  font-family: 'Cairo', sans-serif;
  margin: auto;
  width: 500px;
  text-align: center;
  margin-top: 50px;
  background-color: #dfe7fd;
  border-radius: 10px;

}
.validateuser{
  border: 2px solid #dfe7fd;
  font-family: 'Cairo', sans-serif;
  margin: auto;
  width: 500px;
  text-align: center;
  margin-top: 50px;
  background-color: #dfe7fd;
  border-radius: 10px;
  text-align: right;
  height: 200px;

}
.validateuser form{
  position: relative;
  right: 100px;
  top: 50px;

}
.bill_edit_form{
  position: relative;
  opacity: 0%;
}
.delete_user{
  border: 2px solid #dfe7fd;
  font-family: 'Cairo', sans-serif;
  margin: auto;
  width: 500px;
  text-align: center;
  margin-top: 50px;
  background-color: #dfe7fd;
  border-radius: 10px;
  visibility: hidden;
}
.delete_user1{
  border: 2px solid #dfe7fd;
  font-family: 'Cairo', sans-serif;
  font-size: 20px;

  margin: auto;
  width: 500px;
  height: 300px;
  text-align: center;
  margin-top: 50px;
  background-color: #dfe7fd;
  border-radius: 10px;
  visibility: hidden; 
  position: relative;
  top: -200px;
}
.delete_user1 form{
  margin: auto;
  position: relative;
  right: 70px;
  top: 70px;
  text-align: right;
}